* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Victor Mono', monospace;
}

html {scroll-behavior: smooth;}

/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fbrasil.uxdesign.cc%2Fentendendo-sistema-de-cores-sem%25C3%25A2ntico-especifica%25C3%25A7%25C3%25A3o-de-cores-e-naming-5a8a118a4d79&psig=AOvVaw2rwvqZv63BhXGLhWmyAkwN&ust=1691458209694000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjHuf-yyYADFQAAAAAdAAAAABAK */
:root {
    --Navigation-Title-Dark: #000;
    --Navigation-Title-White: #fff;
    --Navigation-Background-Dark: #151617;
    --Navigation-Background-White: #fff;
    --text-primary: #000;
    --text-secondary: #c2c2c2;
    /* --sumary-Background: #781e1e; */
    --sumary-Background: #2b3034;
    --sumary-Background-2: #301f45;
    --roxo: rgb(157, 0, 255);
}

main {
    background-color: rgba(0, 0, 5, 0.2);
}


/* ----------------------- navbar ----------------------- */
#israel,
#habilidades,
#portifolio {
    background-color: var(--sumary-Background);
}
#sobre,
#qualificacoes,
#contatos {
    background-color: var(--sumary-Background-2);
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;   
    padding-right: 30px;   
    
    gap: 2rem;
    height: 2rem;
    
    background-color: var(--Navigation-Background-Dark);
    width: 100%;
    list-style: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
li{
    display: inline-block;
}
nav ul a {
    text-decoration: none;
    color: var(--Navigation-Title-White);
    padding: 7px;
}
nav ul a:hover {
    background-color: var(--Navigation-Background-White);
    color: var(--sumary-Background);
}
.nome-logo a{
    color: #fff;
}
span{
    color: var(--roxo);
}
/* ----------------------- fim navbar ----------------------- */

/* ----------------------- seções ----------------------- */
section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-left: 5%;
    padding-right: 5%;
}
section h1 {
    color: black;
}
section p {
    color: var(--text-primary);
}
.sec_imagen {
    width: 200px;
    height: 150px;
    border: 2px solid var(--Navigation-Background-White);
    box-shadow: 5px 5px 5px 3px black;
    margin-right: 20px;
}

.texto-section {
    max-width: 90%;
    text-align: justify;
    margin-left: 10px;
    color: var(--Navigation-Title-White);
}

/* israelsilva */
.perfil_imagem {
    width: 300px;
    height: 350px;
    border-radius: 15px;
    border: 2px solid var(--roxo);
    box-shadow: 5px 5px 5px 3px black;
    margin-right: 20px;
}
.devback {
    color: var(--roxo);
}
#curriculo {
    text-decoration: none;
    font-size: medium;
    color: var(--Navigation-Title-Dark);
    background-color: var(--roxo);
    padding: 10px;
    border-radius: 10px;
    margin: 5% 25%;
    box-shadow: 5px 5px 5px 2px black;
}
#curriculo:hover{
    background-color: var(--sumary-Background-2);
    color: var(--Navigation-Title-White);
}

/* sobre */
/* habilidades */
/* qualificações */
/* portifolio */
/* contatos */

/* ----------------------- fim seções ----------------------- */

.card {
    max-width: 150px;
    height: 200px;
    background-color: var(--text-primary);
}

.titulo-card {
    color: var(--Navigation-Title-White);
}
.texto-card {
    color: var(--text-secondary);
}
